@page
@model WebApplication4.Pages.Index1Model
@{
}
<body>
    <div class="filters">
        <a class="subject selecte" data-filter="*">Show all</a>
        <a class="subject" data-filter=".romance">Romance</a>
        <a class="subject" data-filter=".history">History</a>
        <a class="subject" data-filter=".math">Math</a>
        <a class="subject" data-filter=".polisci">Political Science</a>
        <a class="subject" data-filter=".psych">Psychology</a>
        <a class="subject" data-filter=".science">Science</a>
        <a class="subject" data-filter=".religion">Religion</a>
    </div>
    <div class="grid">
        <div class="book-subject romance">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/publisher/content?id=Dc2LDQAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1YPd1-nJbCQnjaxFpPndtD_8Tflg&w=1280" alt="Responsive image">
          </a> 
        </div>
        <div class="book-subject history">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/content?id=a-Wb45gW3P4C&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1j16F5HQ494YSrQ-SGU__3ePQ4Mg&w=1025" alt="Responsive image">
          </a> 
        </div>
          <div class="book-subject math">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/content?id=UlrmKjIjrzQC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1FiDohUXZuTdT5DxOin2SJIMxwSA&w=1280" alt="Responsive image">
          </a> 
        </div>
        <div class="book-subject polisci">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/publisher/content?id=pJ9PDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U2_c4cSF_tZnD2AsG4PvQMLmCZayA&w=1280" alt="Responsive image">
          </a> 
        </div>
        <div class="book-subject psych">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/publisher/content?id=CuwmEAAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U32wWlnI6FI_4a5ztq2YlP9l0wupg&w=1280" alt="Responsive image">
          </a> 
        </div>
        <div class="book-subject science">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/content?id=8AyEtZkYH3YC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71cmvBtJF634zzsFqeXw0_rNgdazVJhUu5oqrKi8e98AU2bkvaOFmRnMrH5mqW32MOjkhOxPfNcAvGaKpv-xSWqjQTdcX6Q1ZlU9s-HNsXv6caMHNY" alt="Responsive image">
          </a> 
        </div>
         <div class="book-subject religion">
          <a href="" target="new">
            <img class ="img-responsive book-image grow" src="https://books.google.com/books/publisher/content?id=6eiWDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U2y1FTZkCL8Ovnj0IOO6d4W5y8ZXw&w=1280" alt="Responsive image">
          </a> 
        </div>
        </div>
    <script src="~/css/isotope.pkgd.js"></script>
    <script src="~/css/catalog.js"></script>
    <script src="~/js/home.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>