@page
@model WebApplication4.Pages.account.Info
@{
}
<body>
      <nav id="primary_nav">
                <ul>
                    <li><h3>Dashboard</h3></li>
                    <hr>
                    <li><span><i class="fa-solid fa-user"></i> <a href="">Profile</a> </span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-gear"></i><a href="">Settings</a></span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-wallet"></i><a href="">Billing</a></span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-arrow-left-long"></i> <a href="signin.html">Log out</a></span></li>
                    <hr>
                </ul>
            </nav>
            <div class="account">
                <h4>Profile Information</h4>
                <ul>
                    <li>First name <input type="text" name="" id="name" value="Alejandro"> Last name <input type="text" name="" id="name" value="Santos"></li>
                    <li>Email <input id="update-info" type="text" value="santosale@my.easternct.edu"></li>
                    <li>Phone <input id="update-info" type="text" value="860-917-2293"></li>
                    <li>Address <input id="update-info" type="text" value="Address"></li>
                    <li>Password <input id="update-info" type="text" value="*********"></li>

                    
                </ul>
                <button>Update</button>
            </div>
      <script src="~/js/account.js"></script>
      <script src="~/js/home.js"></script>
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
        ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>