@page
@model WebApplication4.Pages.account.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserT.UserId" class="control-label"></label>
                <input asp-for="UserT.UserId" class="form-control" />
                <span asp-validation-for="UserT.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserFirstName" class="control-label"></label>
                <input asp-for="UserT.UserFirstName" class="form-control" />
                <span asp-validation-for="UserT.UserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserLastName" class="control-label"></label>
                <input asp-for="UserT.UserLastName" class="form-control" />
                <span asp-validation-for="UserT.UserLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserAddress" class="control-label"></label>
                <input asp-for="UserT.UserAddress" class="form-control" />
                <span asp-validation-for="UserT.UserAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserCity" class="control-label"></label>
                <input asp-for="UserT.UserCity" class="form-control" />
                <span asp-validation-for="UserT.UserCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserState" class="control-label"></label>
                <input asp-for="UserT.UserState" class="form-control" />
                <span asp-validation-for="UserT.UserState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserZipCode" class="control-label"></label>
                <input asp-for="UserT.UserZipCode" class="form-control" />
                <span asp-validation-for="UserT.UserZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserPhone" class="control-label"></label>
                <input asp-for="UserT.UserPhone" class="form-control" />
                <span asp-validation-for="UserT.UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserDob" class="control-label"></label>
                <input asp-for="UserT.UserDob" class="form-control" />
                <span asp-validation-for="UserT.UserDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserEmail" class="control-label"></label>
                <input asp-for="UserT.UserEmail" class="form-control" />
                <span asp-validation-for="UserT.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserPassword" class="control-label"></label>
                <input asp-for="UserT.UserPassword" class="form-control" />
                <span asp-validation-for="UserT.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
