@page
@model WebApplication4.Pages.account.EditModel

@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/registration.css">
</head>
<div class="signin container">
        <form class="mainform">
            <form method="post">
            <div class="mb-3">
              <h1>Sign In</h1>
              <p>Please enter your username and password</p>
              <label for="username"><b>Email</b></label>
                <input asp-for="UserT.UserEmail" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="password"><b>Password</b></label>
                <input asp-for="UserT.UserPassword" class="form-control" />
            </div>
            <p>Need an account? <a href="/account/Signup">Sign up</a></p> 
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
           </form>
          </form>
          </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
