@page
@model WebApplication4.Pages.account.createModel

  <div>
            <div class="container">
              <h1>Sign Up</h1>
              <p>Please fill in this form to create an account.</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserT.UserFirstName">First Name</label>
                <input asp-for="UserT.UserFirstName" class="form-control" />
                <span asp-validation-for="UserT.UserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserLastName">Last Name</label>
                <input asp-for="UserT.UserLastName" class="form-control" />
                <span asp-validation-for="UserT.UserLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserAddress" class="control-label"></label>
                <input asp-for="UserT.UserAddress" class="form-control" />
                <span asp-validation-for="UserT.UserAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserCity" class="control-label"></label>
                <input asp-for="UserT.UserCity" class="form-control" />
                <span asp-validation-for="UserT.UserCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserState" class="control-label"></label>
                <input asp-for="UserT.UserState" class="form-control" />
                <span asp-validation-for="UserT.UserState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserZipCode" class="control-label"></label>
                <input asp-for="UserT.UserZipCode" class="form-control" />
                <span asp-validation-for="UserT.UserZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserPhone" class="control-label"></label>
                <input asp-for="UserT.UserPhone" class="form-control" />
                <span asp-validation-for="UserT.UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserDob" class="control-label"></label>
                <input asp-for="UserT.UserDob" class="form-control" />
                <span asp-validation-for="UserT.UserDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserEmail" class="control-label"></label>
                <input asp-for="UserT.UserEmail" class="form-control" />
                <span asp-validation-for="UserT.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserT.UserPassword" class="control-label"></label>
                <input asp-for="UserT.UserPassword" class="form-control" />
                <span asp-validation-for="UserT.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
             <div>
                <p>Already have an account? <a asp-page="/account/Signin">Sign in</a></p> 
            <div class="form-group">
                <br />
                <br />

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
